Options +ExecCGI
AddHandler fcgid-script .fcgi
RewriteEngine On



RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]



RewriteRule ^(admin-media/.*)$ - [L]
RewriteRule ^(media/.*)$ - [L]
RewriteRule ^(static/.*)$ - [L]



RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{HTTP_HOST} ^jedib\.ru$
RewriteRule ^(.*)$ django.fcgi/$1 [QSA,L]




RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ django.fcgi/$1 [QSA,L]


SetEnvIf Remote_Addr "^38\.99\.82\...." DenyAccess
SetEnvIf Remote_Addr "^38\.99\.82\..*" DenyAccess

Order allow,deny
deny from env=DenyAccess
allow from all